body
{
    background-image: url("../imgs/Pancakes.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    color: white;
    font-weight: bold
}

a:hover
{
    background-color: #f2d9e6
}

title
{
    text-align: center;
}

a
{
    color: white;
    font-size: 24px;
}

h1
{
    font-size: 64px;
}

th
{
    font-size: 48px;
}